# Covid19 Bar Chart Race Graph

# Import all related libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# Load it into DataFrame

In [3]:
df = pd.read_csv('Covid_19_Data.csv')
df.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,35526,35615,35727,35928,35981,36036,36157,36263,36368,36471
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,4171,4290,4358,4466,4570,4637,4763,4880,4997,5105
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,23691,24278,24872,25484,26159,26764,27357,27973,28615,29229
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,884,884,889,889,897,897,897,907,907,918
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,749,779,812,851,880,916,932,950,1000,1078
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,76,76,76,76,82,82,82,86,86,91
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,130774,136118,141900,148027,153520,158334,162526,167416,173355,178996
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,34981,35254,35693,36162,36613,36996,37317,37390,37629,37937
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,3599,3614,3633,3640,3654,3668,3685,3699,3718,3736

# Sort the DataFrame on Country and State

In [4]:
df = df.sort_values(by=['Province/State','Country/Region'])
df.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20
35,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,9587,9728,9728,9975,10086,10086,10086,10390,10470,10603
248,Anguilla,United Kingdom,18.2206,-63.0686,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
49,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,991,991,991,991,991,991,991,991,991,991
166,Aruba,Netherlands,12.5211,-69.9683,0,0,0,0,0,0,...,115,117,117,117,118,119,119,119,119,119
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
50,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,929,929,929,929,929,929,929,931,932,933
217,Bermuda,United Kingdom,32.3078,-64.7505,0,0,0,0,0,0,...,153,153,153,153,153,153,153,154,156,156
255,"Bonaire, Sint Eustatius and Saba",Netherlands,12.1784,-68.2385,0,0,0,0,0,0,...,10,10,10,10,11,11,11,11,11,11
36,British Columbia,Canada,53.7267,-127.6476,0,0,0,0,0,0,...,3300,3328,3328,3392,3392,3419,3419,3500,3523,3562
249,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8

In [5]:
df=df.reset_index(drop=True)

# Unpivot the table

In [6]:
dates_df=df.columns[4:]
unpivot_df = df.melt(id_vars=['Province/State','Country/Region','Lat','Long'], value_vars=dates_df,var_name='Date', value_name = "Confirmed")
unpivot_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,Alberta,Canada,53.9333,-116.5765,1/22/20,0
1,Anguilla,United Kingdom,18.2206,-63.0686,1/22/20,0
2,Anhui,China,31.8257,117.2264,1/22/20,1
3,Aruba,Netherlands,12.5211,-69.9683,1/22/20,0
4,Australian Capital Territory,Australia,-35.4735,149.0124,1/22/20,0

# Converting the Date Column to Date Format

In [7]:
unpivot_df['Date'] = unpivot_df['Date'].apply(lambda x : datetime.datetime.strptime(x, '%m/%d/%y').date())
unpivot_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,Alberta,Canada,53.9333,-116.5765,2020-01-22,0
1,Anguilla,United Kingdom,18.2206,-63.0686,2020-01-22,0
2,Anhui,China,31.8257,117.2264,2020-01-22,1
3,Aruba,Netherlands,12.5211,-69.9683,2020-01-22,0
4,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0

# Grouping By Date and Country/Region and Summing up the Confirmed Cases for Each Country

In [9]:
df_daily = unpivot_df.groupby(['Date','Country/Region']).sum()
df_daily

                                          Lat         Long  Confirmed
Date       Country/Region
2020-01-22 Afghanistan              33.939110    67.709953          0
           Albania                  41.153300    20.168300          0
           Algeria                  28.033900     1.659600          0
           Andorra                  42.506300     1.521800          0
           Angola                  -11.202700    17.873900          0
           Antigua and Barbuda      17.060800   -61.796400          0
           Argentina               -38.416100   -63.616700          0
           Armenia                  40.069100    45.038200          0
           Australia              -256.850200  1130.843900          0
           Austria                  47.516200    14.550100          0
           Azerbaijan               40.143100    47.576900          0
           Bahamas                  25.025885   -78.035889          0
           Bahrain                  26.027500    50.550000          0
           Bangladesh               23.685000    90.356300          0
           Barbados                 13.193900   -59.543200          0
           Belarus                  53.709800    27.953400          0
           Belgium                  50.833300     4.469936          0
           Belize                   17.189900   -88.497600          0
           Benin                     9.307700     2.315800          0
           Bhutan                   27.514200    90.433600          0
           Bolivia                 -16.290200   -63.588700          0
           Bosnia and Herzegovina   43.915900    17.679100          0
           Botswana                -22.328500    24.684900          0
           Brazil                  -14.235000   -51.925300          0
           Brunei                    4.535300   114.727700          0
           Bulgaria                 42.733900    25.485800          0
           Burkina Faso             12.238300    -1.561600          0
           Burma                    21.916200    95.956000          0
           Burundi                  -3.373100    29.918900          0
           Cabo Verde               16.538800   -23.041800          0
...                                       ...          ...        ...
2020-07-29 Spain                    40.463667    -3.749220     282641
           Sri Lanka                 7.873054    80.771797       2810
           Sudan                    12.862800    30.217600      11496
           Suriname                  3.919300   -56.027800       1607
           Sweden                   60.128161    18.643501      79782
           Switzerland              46.818200     8.227500      34802
           Syria                    34.802075    38.996815        717
           Taiwan*                  23.700000   121.000000        467
           Tajikistan               38.861000    71.276100       7320
           Tanzania                 -6.369028    34.888822        509
           Thailand                 15.870032   100.992541       3298
           Timor-Leste              -8.874217   125.727539         24
           Togo                      8.619500     0.824800        896
           Trinidad and Tobago      10.691800   -61.222500        156
           Tunisia                  33.886917     9.537499       1488
           Turkey                   38.963700    35.243300     228924
           US                       40.000000  -100.000000    4426982
           Uganda                    1.373333    32.290275       1140
           Ukraine                  48.379400    31.165600      69078
           United Arab Emirates     23.424076    53.847818      59921
           United Kingdom          270.029898  -482.924666     303063
           Uruguay                 -32.522800   -55.765800       1237
           Uzbekistan               41.377491    64.585262      22585
           Venezuela                 6.423800   -66.589700      17158
           Vietnam                  14.058324   108.277199        459
           West Bank and Gaza       31.952200    35.233200      11284
           Western Sahara           24.215500   -12.885800         10
           Yemen                    15.552727    48.516388       1711
           Zambia                  -13.133897    27.849332       5249
           Zimbabwe                -19.015438    29.154857       2879

[35720 rows x 3 columns]

# Sorting the DataFrame by Date and Confirmed

#We want to sort the df_dailyDataFrame based on two keys:
#Date (ascending order)
#Confirmed (descending order)
#So the following statements accomplish that:

In [10]:
df_daily_sorted = df_daily.sort_values('Confirmed',ascending=False).sort_index(level=0,ascending = True)
df_daily_sorted

                                          Lat         Long  Confirmed
Date       Country/Region
2020-01-22 Afghanistan              33.939110    67.709953          0
           Albania                  41.153300    20.168300          0
           Algeria                  28.033900     1.659600          0
           Andorra                  42.506300     1.521800          0
           Angola                  -11.202700    17.873900          0
           Antigua and Barbuda      17.060800   -61.796400          0
           Argentina               -38.416100   -63.616700          0
           Armenia                  40.069100    45.038200          0
           Australia              -256.850200  1130.843900          0
           Austria                  47.516200    14.550100          0
           Azerbaijan               40.143100    47.576900          0
           Bahamas                  25.025885   -78.035889          0
           Bahrain                  26.027500    50.550000          0
           Bangladesh               23.685000    90.356300          0
           Barbados                 13.193900   -59.543200          0
           Belarus                  53.709800    27.953400          0
           Belgium                  50.833300     4.469936          0
           Belize                   17.189900   -88.497600          0
           Benin                     9.307700     2.315800          0
           Bhutan                   27.514200    90.433600          0
           Bolivia                 -16.290200   -63.588700          0
           Bosnia and Herzegovina   43.915900    17.679100          0
           Botswana                -22.328500    24.684900          0
           Brazil                  -14.235000   -51.925300          0
           Brunei                    4.535300   114.727700          0
           Bulgaria                 42.733900    25.485800          0
           Burkina Faso             12.238300    -1.561600          0
           Burma                    21.916200    95.956000          0
           Burundi                  -3.373100    29.918900          0
           Cabo Verde               16.538800   -23.041800          0
...                                       ...          ...        ...
2020-07-29 Spain                    40.463667    -3.749220     282641
           Sri Lanka                 7.873054    80.771797       2810
           Sudan                    12.862800    30.217600      11496
           Suriname                  3.919300   -56.027800       1607
           Sweden                   60.128161    18.643501      79782
           Switzerland              46.818200     8.227500      34802
           Syria                    34.802075    38.996815        717
           Taiwan*                  23.700000   121.000000        467
           Tajikistan               38.861000    71.276100       7320
           Tanzania                 -6.369028    34.888822        509
           Thailand                 15.870032   100.992541       3298
           Timor-Leste              -8.874217   125.727539         24
           Togo                      8.619500     0.824800        896
           Trinidad and Tobago      10.691800   -61.222500        156
           Tunisia                  33.886917     9.537499       1488
           Turkey                   38.963700    35.243300     228924
           US                       40.000000  -100.000000    4426982
           Uganda                    1.373333    32.290275       1140
           Ukraine                  48.379400    31.165600      69078
           United Arab Emirates     23.424076    53.847818      59921
           United Kingdom          270.029898  -482.924666     303063
           Uruguay                 -32.522800   -55.765800       1237
           Uzbekistan               41.377491    64.585262      22585
           Venezuela                 6.423800   -66.589700      17158
           Vietnam                  14.058324   108.277199        459
           West Bank and Gaza       31.952200    35.233200      11284
           Western Sahara           24.215500   -12.885800         10
           Yemen                    15.552727    48.516388       1711
           Zambia                  -13.133897    27.849332       5249
           Zimbabwe                -19.015438    29.154857       2879

[35720 rows x 3 columns]

# Get country List

In [ ]:
all_countries = list(df_conf['Country/Region'])